/* Load fonts  */
@import url('https://fonts.googleapis.com/css?family=Karla:400,700');

* {
  margin: 0;
  padding: 0;
}
a:active,
a:link,
a:visited {
  color: #282b35;
}
html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
body {
  background: linear-gradient(
    180deg,
    rgba(74, 144, 226, 0.05) 0,
    rgba(74, 144, 226, 0.04) 100%
  );
  color: #282b35;
  font-family: 'Karla';
  font-size: 62.5%;
}
